.total-item-box {
  margin-right: 24px;
  width: 200px;
  padding: 16px;
  background: #1f1d2b;
  border-radius: 8px;
}
.price-dolor {
  margin-left: 12px;
  margin-right: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #50d1aa;
}
.prise__big-dollor {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}
.total-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #abbbc2;
}

.color-dollor-mini {
  color: #ff7ca3;
}
