.table__boss {
  margin-top: 24px;
  padding: 24px;
  padding-bottom: 0;
  background: #1f1d2b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  border-bottom: 1px solid #393c49;
}
.order-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.filter-Order {
  padding: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;

  padding-left: 44px;
  background: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 8px;
}
.mini-header-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.mini-header-texts {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}
.mar-one {
  margin-right: 75px;
}
