.navbar__svg-foos {
  width: 58px;
  height: 58px;
  margin-bottom: 17px;
  padding: 18px;

  fill: #ea7c69;
}
.boss__nav-svg {
  padding: 12px;
  width: 65px;
  height: 65px;
  background-color: #543c3b;
  margin-bottom: 26px;
  border-radius: 12px;
}
